.header {
    background-color: #aa0601;
    color: #fff;
    line-height: 1.5;
    font-size: 20px;
  }
  
  .logo {
    width: 80px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
  .header-navbar {
    justify-content: flex-end;
    /* align-content: center; */
  }
  .header-navbar a {
    padding: 13px 0;
    margin-left: 64px;
  }
  
  .header-navbar a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 992px) {
    .container {
      padding-left: 36px;
      padding-right: 36px;
    }
  }
  
  @media (max-width: 767px) {
    .container {
      padding-left: 13px;
      padding-right: 13px;
    }
  
    .header-container {
      flex-direction: column;
      align-items: center;
      padding: 12px 0 0 0;
    }
    .header {
      font-size: 16px;
    }
  
    .logo {
      height: 72px;
      padding-bottom: 4px;
    }
    .header-navbar {
      width: 100%;
      flex-wrap: wrap;
    }
  
    .header-navbar li {
      width: 50%;
      border: 1px solid #fff;
    }
  
    .header-navbar a {
      text-align: center;
      padding: 12px 0;
      margin: 0;
    }
}