*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 12px;
}

.navbar {
    display: flex;
}
  